*,
::before,
::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mac {
  -webkit-font-smoothing: antialiased;
}

.card {
  --spacing: 0.25rem;
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;
  --neutral-50: oklch(0.991 0 0);
  --neutral-100: oklch(0.955 0 0);
  --neutral-200: oklch(0.876 0 0);
  --neutral-300: oklch(0.789 0 0);
  --neutral-400: oklch(0.709 0 0);
  --neutral-500: oklch(0.623 0 0);
  --neutral-600: oklch(0.528 0 0);
  --neutral-700: oklch(0.439 0 0);
  --neutral-800: oklch(0.333 0 0);
  --neutral-900: oklch(0.226 0 0);
  --neutral-950: oklch(0.159 0 0);
  --card-color: var(--neutral-50);
  --tone1-color: oklch(0.577 0.245 27.325);
  --tone2-color: oklch(0.627 0.194 149.214);
  --tone3-color: oklch(0.546 0.245 262.881);
  --tone4-color: oklch(0.558 0.288 302.321);
  --tone5-color: oklch(0.528 0 0);
}

.card.nightMode {
  --neutral-50: oklch(0.159 0 0);
  --neutral-100: oklch(0.226 0 0);
  --neutral-200: oklch(0.333 0 0);
  --neutral-300: oklch(0.439 0 0);
  --neutral-400: oklch(0.528 0 0);
  --neutral-500: oklch(0.623 0 0);
  --neutral-600: oklch(0.709 0 0);
  --neutral-700: oklch(0.789 0 0);
  --neutral-800: oklch(0.876 0 0);
  --neutral-900: oklch(0.955 0 0);
  --neutral-950: oklch(0.991 0 0);
  --card-color: var(--neutral-200);
  --tone1-color: oklch(0.706 0.194 8.454);
  --tone2-color: oklch(0.836 0.142 130.71);
  --tone3-color: oklch(0.838 0.095 205.66);
  --tone4-color: oklch(0.741 0.122 290.68);
  --tone5-color: oklch(0.789 0.003 106.45);
}

#content,
body {
  margin: 0 !important;
  background-color: var(--neutral-100) !important;
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#qa {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: normal;
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
  color: var(--neutral-950);
  background-color: var(--card-color);
  max-width: min(700px, 100vw - 2rem);
  width: 100vw;
  margin: 50px 0;
  padding: 1.5rem 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
}

hr {
  all: unset;
  display: block;
  height: 1px;
  background: var(--neutral-950);
  margin: 1.5rem 0 1rem;
}

#hanzi-section {
  cursor: pointer;
  font-family: "Noto Sans TC", "Noto Sans", sans-serif;
  word-break: keep-all;
  margin-bottom: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 1.4rem;
}
#hanzi-section.alternate-font {
  font-family: TW-Kai, "Noto Sans TC", "Noto Sans", sans-serif;
}

#main-hanzi {
  font-size: var(--text-7xl);
  line-height: var(--text-7xl--line-height);
}

#alt-hanzi {
  font-size: var(--text-5xl);
  line-height: var(--text-5xl--line-height);
  color: var(--neutral-500);
  margin-top: calc(var(--spacing) * 4);
}
#alt-hanzi:empty {
  display: none;
}

.tone1 {
  color: var(--tone1-color);
}

.tone2 {
  color: var(--tone2-color);
}

.tone3 {
  color: var(--tone3-color);
}

.tone4 {
  color: var(--tone4-color);
}

.tone5 {
  color: var(--tone5-color);
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc(var(--spacing) * 4);
}

@media (max-width: 500px) {
  .flex-grid {
    display: block;
  }
  .flex-col:not(:last-child) {
    margin-bottom: calc(var(--spacing) * 4);
  }
}
.flex-col {
  flex: 1;
}

#pronunciation-section {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
}

.pronunciation-row {
  border: 1px solid var(--neutral-500);
  border-radius: 6px;
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
}

.pinyin-entry {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: var(--text-3xl);
  line-height: var(--text-3xl--line-height);
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
}

.pinyin-tags {
  display: flex;
  gap: calc(var(--spacing) * 2);
  flex-wrap: wrap;
  text-align: center;
  margin-top: calc(var(--spacing) * 1);
}
.pinyin-tags:empty {
  display: none;
  margin: 0;
}

.pinyin-tag {
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
  background-color: color-mix(in oklch, var(--neutral-950) 15%, transparent);
  width: fit-content;
  border-radius: calc(infinity * 1px);
  padding-inline: calc(var(--spacing) * 2.5);
}

.replay-button {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--neutral-500);
  border-radius: 6px;
  margin: 0;
  margin-left: calc(var(--spacing) * 3.5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.replay-button:hover {
  border-color: var(--neutral-950);
}
.replay-button svg {
  width: 1.4rem;
  height: 1.4rem;
  stroke: var(--neutral-950);
  fill: none !important;
}
.replay-button svg path {
  fill: none !important;
}

#focus-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid var(--neutral-500);
  border-radius: 6px;
  padding: calc(var(--spacing) * 4);
  flex: 2;
}

.focus-row {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--spacing) * 6);
  position: relative;
}
.focus-row:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: calc(-1 * var(--spacing) * 3);
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--neutral-300);
  opacity: 0.5;
}
.focus-row:last-child {
  margin-bottom: 0;
}

.focus-part-of-speech {
  color: var(--neutral-600);
  font-weight: bold;
  font-style: italic;
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
  text-transform: uppercase;
}

.focus-tags {
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
  color: var(--neutral-600);
  margin-bottom: calc(var(--spacing) * 1);
}

.focus-meaning {
  font-size: var(--text-2xl);
  line-height: var(--text-2xl--line-height);
  flex: 1;
}

#note {
  border: 1px solid var(--neutral-500);
  border-radius: 6px;
  padding: calc(var(--spacing) * 2);
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
  margin-block: calc(var(--spacing) * 4);
}

#definition-section {
  border: 1px solid var(--neutral-300);
  border-radius: 6px;
  padding: calc(var(--spacing) * 2);
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
  margin-block: calc(var(--spacing) * 4);
}
#definition-section ol {
  margin: 0;
}
#definition-section li:not(:last-child) {
  margin-bottom: 0.2rem;
}

#dictionary-links img {
  width: 2.6rem;
  height: 2.6rem;
  margin: 0.4rem;
  border: 1px solid var(--neutral-500);
  border-radius: 6px;
  background-color: white;
}
#dictionary-links a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: TW-Kai;
  src: local("TW-Kai"), url("_tw_kai.ttf") format("truetype");
  size-adjust: 130%;
  font-style: normal;
  font-weight: normal;
  unicode-range: U+4E00-9FFF;
}
