*,
::before,
::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mac {
  -webkit-font-smoothing: antialiased;
}

.card {
  --spacing: 0.25rem;
  --color-gray-50: oklch(0.991 0 0);
  --color-gray-100: oklch(0.955 0 0);
  --color-gray-200: oklch(0.876 0 0);
  --color-gray-300: oklch(0.789 0 0);
  --color-gray-400: oklch(0.709 0 0);
  --color-gray-500: oklch(0.623 0 0);
  --color-gray-600: oklch(0.528 0 0);
  --color-gray-700: oklch(0.439 0 0);
  --color-gray-800: oklch(0.333 0 0);
  --color-gray-900: oklch(0.226 0 0);
  --color-gray-950: oklch(0.159 0 0);
  --color-fg: var(--color-gray-950);
  --color-muted: var(--color-gray-500);
  --color-card: var(--color-gray-50);
  --color-bg: var(--color-gray-100);
  --color-tag: var(--color-gray-300);
  --tone1-color: oklch(0.577 0.245 27.325);
  --tone2-color: oklch(0.627 0.194 149.214);
  --tone3-color: oklch(0.546 0.245 262.881);
  --tone4-color: oklch(0.558 0.288 302.321);
  --tone5-color: oklch(0.528 0 0);
}

.card.nightMode {
  --color-fg: var(--color-gray-50);
  --color-muted: var(--color-gray-300);
  --color-card: var(--color-gray-800);
  --color-bg: var(--color-gray-900);
  --color-tag: var(--color-gray-700);
  --tone1-color: oklch(0.706 0.194 8.454);
  --tone2-color: oklch(0.836 0.142 130.71);
  --tone3-color: oklch(0.838 0.095 205.66);
  --tone4-color: oklch(0.741 0.122 290.68);
  --tone5-color: oklch(0.789 0.003 106.45);
}

#content,
body {
  margin: 0 !important;
  background-color: var(--color-bg) !important;
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#qa {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.4;
  color: var(--color-fg);
  background-color: var(--color-card);
  max-width: min(700px, 100vw - 2rem);
  width: 100vw;
  margin: 50px 0;
  padding: 1.5rem 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
}

hr {
  all: unset;
  display: block;
  height: 1px;
  background: var(--color-fg);
  margin: 1.5rem 0 1rem;
}

#hanzi-section {
  cursor: pointer;
  font-family: TW-Kai, "Noto Sans TC", "Noto Sans", sans-serif;
  word-break: keep-all;
  margin-bottom: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 1.4rem;
}
#hanzi-section.alternate-font {
  font-family: "Noto Sans TC", "Noto Sans", sans-serif;
}

.mobile #hanzi-section {
  font-family: "Noto Sans TC", "Noto Sans", sans-serif;
}
.mobile #hanzi-section.alternate-font {
  font-family: TW-Kai, "Noto Sans TC", "Noto Sans", sans-serif;
}

#main-hanzi {
  font-size: 4.299rem;
}

#alt-hanzi {
  font-size: 2.48rem;
  color: var(--color-muted);
}

.tone1 {
  color: var(--tone1-color);
}

.tone2 {
  color: var(--tone2-color);
}

.tone3 {
  color: var(--tone3-color);
}

.tone4 {
  color: var(--tone4-color);
}

.tone5 {
  color: var(--tone5-color);
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc(var(--spacing) * 4);
}

@media (max-width: 500px) {
  .flex-grid {
    display: block;
  }
  .flex-col:not(:last-child) {
    margin-bottom: calc(var(--spacing) * 4);
  }
}
.flex-col {
  flex: 1;
}

#pronunciation-section {
  color: var(--color-muted);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
}

.pronunciation-row {
  border: 1px solid var(--color-gray-700);
  border-radius: 6px;
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
}

.pinyin-entry {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 1.66rem;
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
}

.pinyin-tags {
  display: flex;
  gap: calc(var(--spacing) * 2);
  flex-wrap: wrap;
  text-align: center;
}

.pinyin-tag {
  font-size: 0.8em;
  color: var(--color-fg);
  background-color: var(--color-tag);
  width: fit-content;
  border-radius: 6px;
  padding-inline: calc(var(--spacing) * 2.5);
}

.replay-button {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--color-muted);
  border-radius: 6px;
  margin: 0;
  margin-left: calc(var(--spacing) * 3.5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.replay-button:hover {
  border-color: var(--color-fg);
}
.replay-button svg {
  width: 1.4rem;
  height: 1.4rem;
  stroke: var(--color-fg);
  fill: none !important;
}

#focus-section {
  font-size: 1.66rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-muted);
  border-radius: 6px;
  padding: calc(var(--spacing) * 2);
  flex: 2;
}

#definition-section {
  font-size: 1.2rem;
  line-height: 1.6;
}

li:not(:last-child) {
  margin-bottom: 0.2rem;
}

#dictionary-links img {
  width: 2.6rem;
  height: 2.6rem;
  margin: 0.4rem;
  border: 1px solid var(--color-muted);
  border-radius: 6px;
  background-color: white;
}
#dictionary-links a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: TW-Kai;
  src: local("TW-Kai"), url("_tw_kai.ttf") format("truetype");
  size-adjust: 130%;
  font-style: normal;
  font-weight: normal;
  unicode-range: U+4E00-9FFF;
}
