@font-face {
  font-family: Edu-Kai;
  src: url("_edukai.ttf") format("truetype");
  size-adjust: 140%;
}

.card,
.card.nightMode {
  background-color: #262626;
  color: #f5f5f5;
  padding: 1.25rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hanzi-container {
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.25rem;
}

.hanzi {
  font-family: Edu-Kai, "Noto Sans TC", sans-serif;
  font-size: 5rem;
  cursor: pointer;
  letter-spacing: normal;
}

.mobile .hanzi {
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 1rem;
  margin-right: -1rem;
}

.hanzi.alternate-font {
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 1rem;
  margin-right: -1rem;
}

.mobile .hanzi.alternate-font {
  font-family: Edu-Kai, "Noto Sans TC", sans-serif;
  letter-spacing: normal;
}

.word-variant {
  white-space: nowrap;
  position: relative;
}

.word-variant:not(:last-child)::after {
  content: "/";
  display: inline-block;
  margin: 0 0.15em;
  color: #d4d4d4;
}

.meaning {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  white-space: pre-line;
  margin: 0.3125rem 0;
}

.pinyin {
  font-size: 1.375rem;
  font-family: Palatino, serif;
  color: #d4d4d4; /* For punctuation */
}

/* Tone colors */
.tone1 {
  color: #fc5d7c;
}

.tone2 {
  color: #9ed072;
}

.tone3 {
  color: #76cce0;
}

.tone4 {
  color: #b39df3;
}

.tone5 {
  color: #a3a3a3;
}
