@charset "UTF-8";

// Variables
$card-width: 700px;
$card-margin: 2rem;

$primary-hanzi-font: "Noto Sans TC", sans-serif;
$secondary-hanzi-font: Edu-Kai, $primary-hanzi-font;

$hanzi-font-size: 5rem;
$meaning-font-size: 1.2rem;
$pinyin-font-size: 1.5rem;

// Mixins
@mixin text-base {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.4;
}

* {
  // Standardize box-sizing
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

#qa,
#content {
  // Styling on mobile can get in the way
  all: unset;
}

.card {
  --text-color: #262626;
  --content-color: #fafafa;
  --bg-color: #e5e5e5;
  --separator-color: #737373;
  // Pleco colors
  --tone1-color: rgb(227, 0, 0);
  --tone2-color: rgb(2, 179, 28);
  --tone3-color: rgb(21, 16, 240);
  --tone4-color: rgb(137, 0, 191);
  --tone5-color: rgb(119, 119, 119);
}

.card.nightMode {
  --text-color: #fafafa;
  --content-color: #404040;
  --bg-color: #262626;
  --separator-color: #d4d4d4;
  // Custom based on Pleco's colors
  --tone1-color: #fc5d7c;
  --tone2-color: #9ed072;
  --tone3-color: #76cce0;
  --tone4-color: #b39df3;
  --tone5-color: #a3a3a3;
}

// Card styling
.card {
  @include text-base;
  color: var(--text-color) !important;
  background-color: var(--bg-color) !important;
  width: 100vw; // Full width minus margins
  margin: 0;
  padding: 0 $card-margin;
}

#my-content {
  width: $card-width;
  margin-top: $card-margin;
  margin-inline: auto;
  padding: 0.5rem 1rem;
  background-color: var(--content-color);
  border-radius: 5px;
}

@media (max-width: calc($card-width + 2 * $card-margin)) {
  #my-content {
    // Center the card
    transform: translateX(calc((100vw - ($card-width + 2 * $card-margin)) / 2));
  }
}

@media (max-width: $card-width) {
  #my-content {
    // Full width on small screens
    width: 100vw;
    margin-left: (-$card-margin);
    transform: unset;
    border-radius: 0;
  }
}

.my-content-block {
  padding: 1rem;
}

hr {
  all: unset;
  display: block;
  height: 1px;
  background: var(--text-color);
  margin: $card-margin 0;
}

.replay-button svg {
  width: 2.6rem;
  height: 2.6rem;
  margin-top: -0.3rem; // Center vertically

  path {
    fill: var(--text-color);
  }

  circle {
    fill: var(--bg-color);
    stroke: var(--text-color);
  }
}

// Hanzi Styles
#hanzi {
  min-height: calc($hanzi-font-size + 1rem);
  font-size: $hanzi-font-size;
  cursor: pointer;
  text-align: center;

  font-family: $secondary-hanzi-font;
  letter-spacing: normal;

  &.alternate-font {
    font-family: $primary-hanzi-font;
    letter-spacing: 1rem;
    margin-right: -1rem;
  }
}

// Mobile-Specific Hanzi Styles
.mobile {
  #hanzi {
    font-family: $primary-hanzi-font;
    letter-spacing: 1rem;
    margin-right: -1rem;

    &.alternate-font {
      font-family: $secondary-hanzi-font;
      letter-spacing: normal;
    }
  }
}

// Word Variant Styles
.word-variant {
  position: relative;
  display: inline-block;
  white-space: nowrap;

  &:not(:first-child)::before {
    content: "/";
    display: inline-block;
    margin: 0 0.15em;
    color: var(--separator-color);
  }
}

// Pinyin Style
#pinyin {
  font-size: $pinyin-font-size;
  font-family: "Bitstream Charter", Palatino, "Palatino Linotype",
    "Palatino LT STD", "Book Antiqua", Georgia, serif;
  color: var(--separator-color);
  text-align: center;
  padding-bottom: 1rem;
}
.tone1 {
  color: var(--tone1-color);
}

.tone2 {
  color: var(--tone2-color);
}

.tone3 {
  color: var(--tone3-color);
}

.tone4 {
  color: var(--tone4-color);
}

.tone5 {
  color: var(--tone5-color);
}

#simple-definition {
  font-size: $pinyin-font-size;
  border: 1px solid var(--separator-color);
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
}

// Definition list styling
#definitions {
  font-size: $meaning-font-size;
}

li:not(:last-child) {
  margin-bottom: 0.2rem;
}

// Font Face Definition
@font-face {
  font-family: Edu-Kai;
  src: local("TW-MOE-Std-Kai"), url("_edukai.ttf") format("truetype");
  size-adjust: 140%;
  font-style: normal;
  font-weight: normal;
}
