// Colors
$background-color: #262626;
$text-color: #f5f5f5;
$separator-color: #d4d4d4;

// Tone Colors
$tone1-color: #fc5d7c;
$tone2-color: #9ed072;
$tone3-color: #76cce0;
$tone4-color: #b39df3;
$tone5-color: #a3a3a3;

// Fonts
$primary-font: "Noto Sans TC", sans-serif;
$secondary-font: Edu-Kai, $primary-font; // Edu-Kai is used for a more traditional look

// Sizes
$base-padding: 1.25rem;
$hanzi-font-size: 5rem;
$meaning-font-size: 1rem;
$pinyin-font-size: 1.375rem;

// Base Card Styles
.card {
  background-color: $background-color;
  color: $text-color;
  padding: $base-padding;

  &.nightMode {
    background-color: $background-color; // Same as .card in this case
  }
}

// Content Container
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

// Hanzi Container
.hanzi-container {
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: $base-padding;
}

// Hanzi Styles
.hanzi {
  font-family: $secondary-font;
  font-size: $hanzi-font-size;
  cursor: pointer;
  letter-spacing: normal;

  &.alternate-font {
    font-family: $primary-font;
    letter-spacing: 1rem;
    margin-right: -1rem;
  }
}

// Mobile-Specific Hanzi Styles
.mobile {
  .hanzi {
    font-family: $primary-font;
    letter-spacing: 1rem;
    margin-right: -1rem;

    &.alternate-font {
      font-family: $secondary-font;
      letter-spacing: normal;
    }
  }
}

// Word Variant Styles
.word-variant {
  position: relative;

  &:not(:last-child)::after {
    content: "/";
    display: inline-block;
    margin: 0 0.15em;
    color: $separator-color;
  }
}

// Meaning Styles
.meaning {
  font-family: system-ui, sans-serif;
  font-size: $meaning-font-size;
  white-space: pre-line;
  margin: 0.3125rem 0;
}

// Pinyin Styles
.pinyin {
  font-size: $pinyin-font-size;
  font-family: Palatino, serif;
  color: $separator-color; /* For punctuation */
}

// Tone Colors
.tone1 {
  color: $tone1-color;
}

.tone2 {
  color: $tone2-color;
}

.tone3 {
  color: $tone3-color;
}

.tone4 {
  color: $tone4-color;
}

.tone5 {
  color: $tone5-color;
}

// Font Face Definition
@font-face {
  font-family: Edu-Kai;
  src: url("_edukai.ttf") format("truetype");
  size-adjust: 140%;
  font-style: normal;
  font-weight: normal;
}
