@font-face {
  font-family: Edu-Kai;
  src: url("_edukai.ttf") format("truetype");
}

.card,
.card.nightMode {
  background-color: #222327;
  color: #e2e2e3;
  padding: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hanzi {
  font-family: PingFang TC, sans-serif;
  font-size: 90px;
  transition: font-family 0.3s ease;
  cursor: pointer;
  user-select: none;
}

.hanzi.edu-kai {
  font-family: Edu-Kai, PingFang TC, sans-serif;
}

.meaning {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  white-space: pre-line;
  margin: 5px 0;
}

.pinyin {
  font-size: 22px;
  font-family: Palatino, serif;
}

/* Tone colors */
.tone1 {
  color: #fc5d7c;
}

.tone2 {
  color: #9ed072;
}

.tone3 {
  color: #76cce0;
}

.tone4 {
  color: #b39df3;
}

.tone5 {
  color: #7f8490;
}
