@charset "UTF-8";

@function spacing($multiplier) {
  @return calc(var(--spacing) * #{$multiplier});
}

// Variables
$card-width: 700px;
$border-radius: 6px;

$primary-hanzi-font: "Noto Sans TC", "Noto Sans", sans-serif;
$secondary-hanzi-font: TW-Kai, $primary-hanzi-font;
$font-family:
  // Cross-platform generic font family (default user interface font)
  system-ui,
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // older macOS and iOS
  "Helvetica Neue",
  // Linux
  "Noto Sans",
  "Liberation Sans",
  // Basic web fallback
  Arial,
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

*,
::before,
::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mac {
  // Looks better on retina displays
  -webkit-font-smoothing: antialiased;
}

.card {
  --spacing: 0.25rem;

  // Typography
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  // Neutrals
  --neutral-50: oklch(0.991 0 0);
  --neutral-100: oklch(0.955 0 0);
  --neutral-200: oklch(0.876 0 0);
  --neutral-300: oklch(0.789 0 0);
  --neutral-400: oklch(0.709 0 0);
  --neutral-500: oklch(0.623 0 0);
  --neutral-600: oklch(0.528 0 0);
  --neutral-700: oklch(0.439 0 0);
  --neutral-800: oklch(0.333 0 0);
  --neutral-900: oklch(0.226 0 0);
  --neutral-950: oklch(0.159 0 0);

  --card-color: var(--neutral-50);

  // Pleco-ish colors from Tailwind
  --tone1-color: oklch(0.577 0.245 27.325); // From tailwind red-600
  --tone2-color: oklch(0.627 0.194 149.214); // From tailwind green-600
  --tone3-color: oklch(0.546 0.245 262.881); // From tailwind blue-600
  --tone4-color: oklch(0.558 0.288 302.321); // From tailwind purple-600
  --tone5-color: oklch(0.528 0 0); // From tailwind gray-600
}

.card.nightMode {
  // Neutrals
  --neutral-50: oklch(0.159 0 0);
  --neutral-100: oklch(0.226 0 0);
  --neutral-200: oklch(0.333 0 0);
  --neutral-300: oklch(0.439 0 0);
  --neutral-400: oklch(0.528 0 0);
  --neutral-500: oklch(0.623 0 0);
  --neutral-600: oklch(0.709 0 0);
  --neutral-700: oklch(0.789 0 0);
  --neutral-800: oklch(0.876 0 0);
  --neutral-900: oklch(0.955 0 0);
  --neutral-950: oklch(0.991 0 0);

  --card-color: var(--neutral-200);

  // Monokai
  --tone1-color: oklch(0.706 0.194 8.454);
  --tone2-color: oklch(0.836 0.142 130.71);
  --tone3-color: oklch(0.838 0.095 205.66);
  --tone4-color: oklch(0.741 0.122 290.68);
  --tone5-color: oklch(0.789 0.003 106.45);
}

#content,
body {
  margin: 0 !important;
  background-color: var(--neutral-100) !important;

  min-height: 100vh;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#qa {
  font-family: $font-family;
  font-weight: normal;
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);

  color: var(--neutral-950);
  background-color: var(--card-color);

  max-width: min($card-width, 100vw - 2rem);
  width: 100vw;

  margin: 50px 0; // Inline margin automatic from width

  padding: 1.5rem 2rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 0.75rem;
}

hr {
  all: unset;

  display: block;
  height: 1px;
  background: var(--neutral-950);
  margin: 1.5rem 0 1rem;
}

// --- Hanzi ---
#hanzi-section {
  cursor: pointer;
  font-family: $primary-hanzi-font;
  &.alternate-font {
    font-family: $secondary-hanzi-font;
  }

  word-break: keep-all; // CJK hack I guess
  margin-bottom: 0.3rem; // Fonts are not perfectly aligned

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 1.4rem;
}

#main-hanzi {
  font-size: var(--text-7xl);
  line-height: var(--text-7xl--line-height);
}

#alt-hanzi {
  font-size: var(--text-5xl);
  line-height: var(--text-5xl--line-height);
  color: var(--neutral-500);

  margin-top: spacing(4);

  &:empty {
    display: none;
  }
}

// --- Pronunciation Style ---
@for $i from 1 through 5 {
  // Tone colors
  .tone#{$i} {
    color: var(--tone#{$i}-color);
  }
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; // space-around? space-between?
  gap: spacing(4);
}

@media (max-width: 500px) {
  .flex-grid {
    display: block;
  }

  .flex-col:not(:last-child) {
    margin-bottom: spacing(4);
  }
}

.flex-col {
  flex: 1;
}

#pronunciation-section {
  display: flex;
  flex-direction: column;
  gap: spacing(2);
}

.pronunciation-row {
  border: 1px solid var(--neutral-500);
  border-radius: $border-radius;
  padding: spacing(2) spacing(4);
}

.pinyin-entry {
  display: flex;
  align-items: center;
  white-space: nowrap;

  font-size: var(--text-3xl);
  line-height: var(--text-3xl--line-height);

  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
}

.pinyin-tags {
  display: flex;
  gap: spacing(2);
  flex-wrap: wrap;
  text-align: center;
  margin-top: spacing(1);

  &:empty {
    display: none;
    margin: 0;
  }
}

.pinyin-tag {
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);

  background-color: color-mix(in oklch, var(--neutral-950) 15%, transparent);

  width: fit-content;

  border-radius: calc(infinity * 1px);
  padding-inline: spacing(2.5);
}

.replay-button {
  width: 2rem;
  height: 2rem;

  border: 1px solid var(--neutral-500);
  border-radius: $border-radius;

  margin: 0;
  margin-left: spacing(3.5);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border-color: var(--neutral-950);
  }

  svg {
    width: 1.4rem;
    height: 1.4rem;
    stroke: var(--neutral-950);
    fill: none !important;

    path {
      fill: none !important;
    }
  }
}

// --- Focus Section ---
#focus-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  border: 1px solid var(--neutral-500);
  border-radius: $border-radius;

  padding: spacing(4);
  flex: 2;
}

.focus-row {
  display: flex;
  flex-direction: column;
  margin-bottom: spacing(
    6
  ); // Increased spacing between entries for better separation
  position: relative;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: calc(-1 * spacing(3));
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--neutral-300);
    opacity: 0.5;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.focus-part-of-speech {
  color: var(--neutral-600);

  font-weight: bold;
  font-style: italic;
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
  text-transform: uppercase;
}

.focus-tags {
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
  color: var(--neutral-600);

  margin-bottom: spacing(1);
}

.focus-meaning {
  font-size: var(--text-2xl);
  line-height: var(--text-2xl--line-height);

  flex: 1;
}

// -- Notes Section --
#note {
  border: 1px solid var(--neutral-500);
  border-radius: $border-radius;
  padding: spacing(2);

  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);

  margin-block: spacing(4);
}

// --- Definition Section ---
#definition-section {
  border: 1px solid var(--neutral-300);
  border-radius: $border-radius;
  padding: spacing(2);

  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);

  margin-block: spacing(4);

  ol {
    margin: 0;
  }

  li:not(:last-child) {
    margin-bottom: 0.2rem;
  }
}

// --- Footer ---
#dictionary-links {
  img {
    width: 2.6rem;
    height: 2.6rem;
    margin: 0.4rem;
    border: 1px solid var(--neutral-500);
    border-radius: $border-radius;
    background-color: white;
  }

  // Remove blue highlight on mobile
  a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }
}

// Proper Kai font
@font-face {
  font-family: TW-Kai;
  src: local("TW-Kai"), url("_tw_kai.ttf") format("truetype");
  size-adjust: 130%;
  font-style: normal;
  font-weight: normal;
  unicode-range: U+4E00-9FFF; // CJK Unified Ideographs
}
